@import "../../styles/vars.scss";

.floating-cart-hidden {
    display: none;
}

.floating-cart {
    position: fixed;
    // bottom: 30px;
    bottom: 100px;
    right: 30px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 2px 12px rgba(0,0,0,0.4);
    color: black;
    font-size: 1.2rem;

    @include for-size(tb-pt-up) {
        bottom: 30px;
    }

    .cart-counter {
        position: fixed;
        background: rgb(219, 55, 55);
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 80px;
        bottom: 145px;
        font-size: 0.9rem;

        @include for-size(tb-pt-up) {
            bottom: 75px;
        }
    }

    animation: 1s pop-in ease forwards;
    opacity: 0;
}

@keyframes pop-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}