@import "../../styles/vars.scss";

.item-modal-wrapper {
    background-color: white;
    z-index: 10;
    min-height: 100vh;
    overflow-y: auto;
}
.random-square {
    position: absolute;
    top: 32%;
    left: 55%;
    width: 15vw;
    height: 15vw;
    background-color: $yellow;
    z-index: -1;
    opacity: 0.1;
    transform: rotate(0eg);
    animation: rotate-in 0.5s ease forwards;
}

.product-item {
    img {
        transition-duration: 0.35s;
        border: 1px solid transparent;
    }
    &:hover {
        .thumbnail--large {
            border: 1px solid lightgray;
        }
    }
}

.close-product {
    width: 50px;
    height: 50px;
    top: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-duration: 0.25s;

    &:hover {
        transform: rotateZ(45deg);
    }
}

@keyframes rotate-in {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(30deg);
    }
}