.cart-item {
    img {
        max-width: 50px;
    }
    h3 {
        font-size: 0.7rem;
    }
}
.cart-section {
    a {
        position: fixed;
        bottom: 0;
    }
}

.cart-product-cost {
    background-color: black;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
}

.clear-cart-button {
    border: none;
    background-color: darken(white,4);
    color: #333;
    outline: 0;
}

@media screen and (min-width: 1025px) {

    .cart-section {
        padding: 0 30vw;

        .button-1 {
            position: relative;
        }
    }
}