@import "../../styles/vars.scss";

.checkout-hint {
    font-size: 0.8em;
    opacity: 0.8;
    line-height: 1.25;
}

.checkout-form {
    input {
        border: 1px solid lightgray;
    }
}
.checkout-form {
    input:focus {
        outline: none;
        border: 2px solid $blue;
    }
}

.checkout-submit {
    // position: fixed;
    // bottom: 0;
    // left: 0;
}

@include for-size(phone-only) {
    .checkout-submit {
        width: 100%;
    }
}

@media screen and (min-width: 1025px) {

    .checkout-section {
        padding: 0 30vw;

        .button-1 {
            position: relative;
        }
    }
}