@import "./vars.scss";
@import "./helpers.scss";

html {
    scroll-behavior: smooth;
}

a {
    color: inherit !important;
    text-decoration: none;
}

p, span, a, ol, ul, li, button, input, textarea, label, input::placeholder, textarea::placeholder, div {
    font-family: $sec-font;
}

h2, h3, h4 {
    font-family: $main-font--bold;
}

.react-parallax {
    transform: scaleX(1.001);
}


.container--sm {
    @include for-size(tb-ls-up) {
        padding-left: 6vw;
        padding-right: 6vw;
    }
}

.t25 {
    transition-duration: 0.25s;
}

textarea {
    resize: none;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    
    @include for-size(tb-pt-up) {
        padding-left: 7vw;
        padding-right: 7vw;
    }

    @include for-size(tb-ds-up) {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

.full-height-container {
    // @include for-size(tb-ls-up) {
        min-height: 100vh;
    // }
}

.half-height-container {
    height: 100%;
    @include for-size(tb-ds-up) {
        min-height: 50vh;
    }
}

.button {
    transition-duration: 0.35s;
    border: none;
    font-family: $sec-font;
    cursor: pointer;
}

.button--yellow {
    background-color: $yellow;

    &:hover {
        background-color: darken($yellow, 15);
        font-weight: 400;
    }
}

.button--call {
    padding: 0.9rem 3rem;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -50px;
        height: 100%;
        width: 30px;
        background-color: rgba(255,255,255,0.2);
        transform: rotateZ(45deg) scaleY(2);
        animation: shine 1s ease 2s;
    }

    @keyframes shine {
        from {
            left: -50px;
        }
        to {
            left: 120%;
        }
    }
}

.button--blue {
    background-color: $blue;
    color: white !important;

    &:hover {
        background-color: darken($blue, 15);
    }
}

.button--black {
    background-color: black;
    color: white !important;

    &:hover {
        background-color: lighten(black, 15);
    }
}

.button--gray {
    background-color: rgb(230, 230, 230);
    color: black !important;

    &:hover {
        background-color: darken(rgb(230, 230, 230), 5);
    }
}

.button--empty {
    border: 1px solid white;

    &:hover {
        background-color: rgba(255,255,255,0.2);
    }
}

.blur-wrapper {
    img {
        transform: scale(1.3);
        max-width: 100%;
    }
}

// @media screen and (min-width: $bp--sm) {
//     .container {
//         padding-left: 10vw;
//         padding-right: 10vw;
//     }
// }

.flex-column-sm {
    @include for-size (phone-only) {
        flex-direction: column;
    }
}