@font-face {
    font-family: "Ms-Black";
    src: url("/fonts/Spartan/static/Spartan-Black.ttf") format('truetype');
    font-display: swap;
}
@font-face {
    font-family: "Ms-Bold";
    src: url("/fonts/Spartan/static/Spartan-Bold.ttf") format('truetype');
    font-display: swap;
}
@font-face {
    font-family: "Ms";
    src: url("/fonts/Spartan/static/Spartan-Regular.ttf") format('truetype');
    font-display: swap;
}
@font-face {
    font-family: "Ms-Light";
    src: url("/fonts/Spartan/static/Spartan-Light.ttf") format('truetype');
    font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter-Regular.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter/static/Inter-Bold.ttf") format('truetype');
  font-display: swap;
}

$main-font: "Ms", Arial, Helvetica, sans-serif;
$main-font--bold: "Ms-Bold", Arial, Helvetica, sans-serif;


$sec-font: "Inter", Arial, Helvetica, sans-serif;
$sec-font--bold: "Inter-Bold", Arial, Helvetica, sans-serif;

.sec-font {
  font-family: $sec-font;
}
.sec-font--bold {
  font-family: $sec-font--bold;
}

.ms-black {
    font-family: "Ms-Black", Arial, Helvetica, sans-serif;
}

.ms-bold {
    font-family: "Ms-Bold", Arial, Helvetica, sans-serif;
}

.main-font {
    font-family: "Ms", Arial, Helvetica, sans-serif;
}

.ms-light {
    font-family: "Ms-Light", Arial, Helvetica, sans-serif;
}




@mixin for-size($range) {
    $phone-upper-boundary: 600px;
    $tablet-portrait-upper-boundary: 900px;
    $tablet-landscape-upper-boundary: 1200px;
    $desktop-upper-boundary: 1800px;
  
    @if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
    }
    @if $range == tablet-only {
      @media (max-width: #{$tablet-portrait-upper-boundary - 1}) { @content; }
    } 
    @else if $range == tb-pt-up {
      @media (min-width: $phone-upper-boundary) { @content; }
    } 
    @else if $range == tb-ls-up {
      @media (min-width: $tablet-portrait-upper-boundary) { @content; }
    } @else if $range == ds-up {
      @media (min-width: $tablet-landscape-upper-boundary) { @content; }
    } @else if $range == ds-big-up {
      @media (min-width: $desktop-upper-boundary) { @content; }
    }
  }


// COLORS
$blue: #0099ff;
$blue2: #3be4fa;
// $green: #3bb41d;
$green2: #73dd1c;
$blue3: #275ec4;
// $yellow: #ffd42a;


// BRAND COLORS

$yellow: #ffcd14;
$green: #1EB268;
$blue: #2F4858;
$black: #000;
$white: #fff;

$yellow1: #3F3415;
$yellow2: #FFDE82;
$yellow3: rgb(255, 229, 168);
$green2: #244031;
$green3: #3DBDAD;
$green4: #62BE84;
$green5: rgb(57, 221, 202);
$purple: #5E5CA8;
$brown: #FAC1B0;
$brown2: #402E32;

$col--main: $yellow;
$col--accent: $green;


$gr1: linear-gradient(45deg, $green, $green3);
$gr2: linear-gradient(45deg, $blue, $purple);
$gr4: linear-gradient(45deg, $green2, $green3);
$gr3: linear-gradient(45deg, $green, $green2);
// $gr2: linear-gradient(45deg, $yellow, $brown);
// $gr2: linear-gradient(45deg, $yellow, $brown);
// $gr2: linear-gradient(45deg, $yellow, $brown);
// $gr2: linear-gradient(45deg, $yellow, $brown);


.gr1 { background-image: $gr1; }
.gr2 { background-image: $gr2; }


.yellow { color: $yellow; }
.blue { color: $blue; }
.green { color: $green; }
.brown { color: $brown2; }
.purple { color: $purple; }

.green-bg { background-color: $green; }

.green-gradient {
  background-image: linear-gradient(45deg, $green, $green4);
}

.bw-filter {
  img {
    filter: grayscale(1) !important;
  }
}