#calculator {
    // border: 1px solid lightgray;
    box-shadow: 0px 5px 45px rgba(0,0,0,0.15);
    border-radius: 6px;

    .option--unavailable {
    	background-color: #FAB9B9;
    	color: #333;
    }
}