@import "../../styles/vars.scss";

.header-line {
    width: 70px;
    height: 8px;
}

.header-line--blue {
    background-color: $blue;
}

.header-line--green {
    background-color: $green;
}

.header-line--yellow {
    background-color: $yellow;
}