@import "../../styles/vars.scss";

#action-banner {
    .landing-tint {
        height: 270px !important;
        // background-image: linear-gradient(45deg, $green, $yellow3);
        // background-color: $brown;
        // opacity: 0.1;

        @include for-size(tb-pt-up) {
            height: 450px !important;
        }
    }
}