@import "../styles/vars.scss";
$slope-scale: 22;

#landing-header {
    .showcase {
        img {
            max-width: 100% !important;
        }
    }
    h1 {
        font-size: calc(1.25rem + 9vw);
        // font-size: 5rem; // desk
        opacity: 1;

        @include for-size(tb-pt-up) {
            font-size: calc(1.25rem + 6vw);
            text-align: center;
        }

        @include for-size(tb-ls-up) {
            font-size: calc(1rem + 5vw);
        }

        @include for-size(ds-up) {
            font-size: calc(1rem + 3.5vw);
        }
    }

    p {
        font-size: calc(14px + 1vw);
        text-align: left;

        @include for-size(tb-pt-up) {
            font-size: calc(14px + 1vw);
            max-width: 90%;
            text-align: center;
        }
        @include for-size(tb-ls-up) {
            font-size: calc(0.5rem + 1.25vw);
        }
        @include for-size(ds-up) {
            font-size: calc(0.5rem + 0.8vw);
        }
    }
    padding: 6rem 10vw;
    top: 0;
    width: 100%;
    align-items: flex-start;

    .button {
        display: none !important;
        margin-top: 1rem;
        text-align: center;
        animation: pulse-shadow 2s infinite ease;
        
        &:hover {
            color: white !important;
            animation: pulse-shadow--black 2s ease;
            background: rgba(0, 0, 0, 0.808);
        }

        @include for-size(tb-pt-up) {
            font-size: 20px;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }
        @include for-size(tb-ls-up) {
            display: block !important;
            font-size: calc(0.5rem + 0.8vw);
            padding: calc(0.5rem + 1vw) calc(1rem + 2vw);
        }
        @include for-size(ds-up) {
            margin-top: -50px;
            top: 200px;
            font-size: calc(0.5rem + 0.5vw);
            padding: calc(0.5rem + 0.5vw) calc(1rem + 0.8vw);
        }
    }

    @include for-size(tb-pt-up) {
        align-items: center;
    }
}

.project-gradient {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,1) , rgba(0,0,0,0) 60%);
    z-index: 1;
    width: 100%;
    height: 100%;
    transition-duration: 0.35s;
    &::after {
        transition-duration: 0.35s;
        position: absolute;
        content: '';
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
        opacity: 0;
    }

    &:hover::after {
        opacity: 1;
    }
    &:hover {
        padding-left: 1.8rem;
    }
}

.landing-tint {
    height: 300px;

    // background-color: darken($blue,0);
    // opacity: 0.3;

    background-image: linear-gradient(45deg, $blue, $blue);
    opacity: 0.55;

    @include for-size(tb-pt-up) {
        height: 400px;
    }
}

.services-item {
    img {
        max-width: 20vw;

        @include for-size(tb-pt-up) {
            max-width: 100px;
        }

        @include for-size(tb-ls-up) {
            max-width: 120px;
        }
    }
}

.projects-view-more {
    overflow: hidden;
}

@keyframes pulse-shadow {
    from {
        box-shadow: 0px 0px 1px 0px rgba(255, 205, 20, 0.3);
    }
    to {
        box-shadow: 0px 0px 1px 25px rgba(253, 205, 20, 0);
    }
}

@keyframes pulse-shadow--black {
    from {
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    }
    to {
        box-shadow: 0px 0px 1px 25px rgba(0, 0, 0, 0);
    }
}