@import "../styles/vars.scss";

.red-text {
    color: red;
    font-weight: 900;
    padding: 15px;
    margin-top: 15px;
    background-color: rgb(255, 241, 241);
    display: inline-block;
    border: 1px dashed red;
}

.landing-tint {
    height: 150px !important;

    @include for-size(tb-pt-up) {
        height: 350px !important;
    }

    @include for-size(tb-ls-up) {
        height: 400px !important;
    }
}

.step-number {
    font-size: 30vw;
    line-height: 30vw;

    @include for-size(tb-pt-up) {
        font-size: 18vw;
        line-height: 18vw;
    }

    @include for-size(tb-ls-up) {
        font-size: 15vw;
        line-height: 17vw;
    }

    @include for-size(ds-up) {
        font-size: 10rem;
        line-height: 10rem;
    }

    @include for-size(ds-big-up) {
        font-size: 12rem;
        line-height: 10rem;
    }
}

.project-steps {
    
}

.statistics-item {
    span {
        font-family: $main-font--bold;
        display: inline-block;
    }
}

.map {
    img {
        display: none;
    }
    background-color: black;
    text-align: center;

    @include for-size(ds-up) {
        background-color: transparent;
        text-align: left;
        img {
            display: block;
            height: 100%;
        }
    }
}

.cost-table-row {
    .row-border {
        border-bottom: 1px dashed lightgray;
    }
}

input, textarea {
    border: 1px solid lightgray;
    font-family: $sec-font;
    background-color: white;
}