@import "../../styles/vars.scss";

#landing-header-subpages {
    h1 {
        font-size: calc(1.25rem + 4vw);
        text-align: center;
        opacity: 1;
        letter-spacing: 2px;

        @include for-size(tb-pt-up) {
            font-size: calc(1.25rem + 6vw);
            text-align: center;
        }

        @include for-size(tb-ls-up) {
            font-size: calc(1rem + 5vw);
        }

        @include for-size(ds-up) {
            font-size: calc(1rem + 3.5vw);
        }
    }

    top: 0;
    width: 100%;

}