@import "../../styles/vars.scss";

#mini-navbar {
    display: none;
    $bg-color: rgba(0, 0, 0, 0.055);
    // background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.253), rgba(0,0,0,0.0));

    background-color: $bg-color;
    z-index: 1;

    a {
        font-size: calc(0.4rem + 0.5vw);
    }

    // &::before {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     border: 1vw solid $bg-color;
    //     border-left-color: transparent;
    //     border-right-color: transparent;
    //     border-bottom-color: transparent;
    //     position: absolute;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     bottom: -2vw;
    // }
    
    @include for-size(tb-pt-up) {
        display: flex;
        // padding: calc(0.8rem + 2vw) auto;
        padding-top: calc(0.5rem + 0.15vw);
        padding-bottom: calc(0.5rem + 0.15vw);
    }
}
