@import "../../styles/vars.scss";

#navbar {
    display: flex;
    top: 80px;

    .navbar-content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 2rem;
        transition: left 0.35s ease;
    }    
    .navbar-content--hidden {
        left: -100%;
    }

    @include for-size(phone-only) {
        .navbar-brand {
            display: none;
        }
    }

    @include for-size(tb-pt-up) {
        bottom: unset;
        
        .navbar-brand {
            color: white !important;
            display: flex;
        }

        .navbar-brand-logo {
            max-width: 50px;
            margin: 0;
            margin-right: 10px;
        }
    }

    @include for-size(tb-ls-up) {

        .navbar-content {
            position: relative;
            top: unset;
            left: unset;
            width: 100%;
            height: 100%;
            background-color: unset;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            padding: 2rem 0;
            transition: left 0.35s ease;
        }    
        .navbar-content--hidden {
            left: unset;
        }

        .nav-link {
            color: white !important;
            font-family: $sec-font;
        }
    }

    .nav-link {
        position: relative;
        
        font-family: $sec-font--bold;
        margin-left: 0;
        padding-left: 0;
        font-size: 1.5rem;
        line-height: 1;
        color: black;

        @include for-size(tb-pt-up) {
            font-size: 2rem;
        }

        @include for-size(tb-ls-up) {
            color: white;
            font-size: 1rem;
            font-family: $sec-font;
            padding-right: 1rem;
            padding-left: 1rem;
        }

        &::after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            top: 0;
            width: 0%;
            height: 100%;
            background-color: rgba(255,255,255,0);
            border-radius: 4px;
            transition: all 0.35s ease;
        }
        &:hover::after {
            width: 100%;
            background-color: rgba(255,255,255,0.25);
        }
    }

    
    .nav-link-active {
        &::after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.25);
            border-radius: 4px;
            transition: all 0.35s ease;
        }
    }
    
    .nav-link-contacts {
        background-color: transparent;
        border: 1px solid white;
    }
    
    .nav-link-dropdown {
        position: relative;

        @include for-size(tablet-only) {
            display: flex;
            flex-direction: column;

            &::after {
                display: none;
            }


            .dropdown {
                flex-direction: column;
                a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                display: none;

            }
            &:hover {
                .dropdown {
                    display: flex;
                }
            }
        }


        @include for-size(tb-pt-up) {
            .dropdown {
                background-color: rgba(255,255,255,1);
                opacity: 0;
                color: rgba(0,0,0,0.8);
                padding: 1rem;
                transition-duration: 0.25s;
                z-index: 10;
                border-radius: 4px;

                a:first-child {
                    border-bottom: 1px solid lightgray;
                    padding-bottom: 12px;
                    margin-bottom: 12px;
                }
                a:nth-child(2) {
                    border-bottom: 1px solid lightgray;
                    padding-bottom: 12px;
                    margin-bottom: 12px;
                }
                a:last-child {
                    border-bottom: 1px solid transparent;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                a {
                    transition-duration: 0.25s;
                }
                a:hover {
                    padding-left: 2px;
                }
            }
            
            &::after {
                display: none !important;
            }
            &:hover::after {
                display: none !important;
            }

            &:hover {
                .dropdown-wrapper {
                    pointer-events: all;
                }
                .dropdown {
                    opacity: 1;
                }
            }

            .dropdown-wrapper {
                position: absolute;
                top: 0px;
                right: -1rem;
                pointer-events: none;
                width: 240px;
                padding: 1rem;
                padding-top: 3rem;
                
                &:hover {
                    .dropdown {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }

        }

        
    }
}
.mobile-buttons {
    z-index: 5;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;

    bottom: 0;
    background-color: white;
    box-shadow: 0px -2px 4px rgba(0,0,0,0.2);

    @include for-size(tb-ls-up) {
        display: none;
    }
}