@import "../../styles/vars.scss";

.gallery-overlay {
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.95);
	z-index: 20;
	
	@include for-size(tablet-only) {
		position: fixed !important;
		top: 0;
		left: 0;
		width: 100vw !important;
		min-height: 100vh !important;
		height: auto !important;
		overflow-y: hidden !important;
		display: block !important;
	}
}


button {
	border: none;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery-wrapper {
	width: 100vw;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	@include for-size(tablet-only) {
		display: block !important;
		width: 100vw !important;
		min-height: 100vh;

	.main-pic-wrapper {
		width: 100vw;
		height: 100vh;
		display: block !important;
		// line-height: 0;
		padding: 1rem;
		padding-bottom: 0;
		overflow-y: scroll;
	}

	.main-pic {
		width: 100%;
		margin: 0;

		@include for-size(phone-only) {
			max-height: 90vw;
			min-width: 90vw;
		}
	}
	.folder {
		padding: 0;
		display: block !important;

		img {
			width: 100%;
			margin: 0;
			padding: 0;
		}
		margin-bottom: 80px
	}

	button {
		height: 100%;
		background-color: black;
		color: white;
		border: none;
		max-height: 80px;
		width: 100%;
		padding: 20px 0;
		display: flex;
		align-items: center;
		line-height: 0px;
		justify-content: center;
		position: fixed;
		bottom: 0;
		left: 0;
	}
	}
}

@include for-size(tb-pt-up) {
	.gallery-wrapper {
		// .main-pic-wrapper {
		// 	padding: 0 6rem;
		// }

		// .folder {
		// 	padding: 2rem 0;
		// 	img {
		// 		width: calc(100% / 5);
		// 	}
		// }

		button {
			max-height: 100px;
			padding: 1.4rem 1.4rem;
			right: 0;
		}
	}
}


@include for-size(tb-ls-up) {

	.gallery-wrapper {
		display: flex;
		align-items: center;
		padding: 5vh;
		.main-pic-wrapper {
			height: 90vh;
			width: 90vh;
			padding: 0;
		}

		button {
			position: absolute;
			width: 40px;
			height: 40px;
			background-color: black;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			top: 0;
			right: 0;
			padding: 0;
		}

		.main-pic {
			height: 100%;
			width: auto;
		}

		.folder {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: rgba(0,0,0,0.7);
			padding: 10px;
			justify-content: center;
			img {
				width: calc(100% / 8);
			}
		}
	}
}

.gallery-open--false {
	pointer-events: none;
	opacity: 0;
}
