@import "../../styles/vars.scss";

#email-popup {
    height: 100vh;
    z-index: 10;

    background-color: white;
    // border-top-left-radius: 4px;
    // border-top-right-radius: 4px;
    z-index: 41;

    .form-wrapper {
        .input-group {
            input, textarea {
                border: 1px solid lightgray;
                font-family: $sec-font;
            }
        }
    }

    .popup-navigation {
        button {
            border: none;
            background-color: black;
            color: white;
            transition-duration: 0.25s;

            &:hover {
                background-color: lighten(black,5);
            }
        }
        .send {
            background-color: $green;
            &:hover {
                background-color: lighten($green,10);
            }
        }
    }
}

.email-popup--hidden {
    right: -100%;
    opacity: 0;
}

.email-popup--fly-in {
    animation: fly-in .5s  forwards;
    @include for-size(tb-pt-up) {
        animation: fly-in--right .5s  forwards;
    }
}

.email-popup--fly-out {
    animation: fly-out .5s  forwards;
    @include for-size(tb-pt-up) {
        animation: fly-out--right .5s  forwards;
    }
}

@keyframes fly-in {
    from {
        bottom: -100vh;
        opacity: 0;
    }
    to {
        bottom: 0vh;
        opacity: 1;
    }
}

@keyframes fly-out {
    to {
        bottom: -100vh;
        opacity: 0;
    }
    from {
        bottom: 0vh;
        opacity: 1;
    }
}


@keyframes fly-in--right {
    from {
        right: -100%;
        opacity: 0;
    }
    to {
        right: 0%;
        opacity: 1;
    }
}

@keyframes fly-out--right {
    to {
        right: -50%;
        opacity: 0;
    }
    from {
        right: 0%;
        opacity: 1;
    }
}