@import "../../styles/vars.scss";

footer {
    background-color: black;
    color: white;

    p {
        font-weight: 400;
    }
}

.email-form-wrapper {
    // background-color: lighten(black, 4);
}

.email-form {
    input, textarea {
        border: none;
        border-radius: 2px;
    }
}

.accountant-details {
    border: none;

    @include for-size(tb-pt-up) {
        border-left: 1px solid white;
    }
}

#back-to-top {
    width: 40px;
    height: 40px;
    background-color: $yellow;
    border: none;
    transition: all 0.35s ease;
    outline: 0;
    color: black !important;

    &:hover {
        transform: translateY(-60%);
    }
}