@import "../../styles/vars.scss";

.success-message-1 {
    background-color: $green;
    border-radius: 4px;
    animation: fade-in 1s ease forwards;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.15);
}

.error-message-1 {
    background-color: $blue;
    border-radius: 4px;
    animation: fade-in 1s ease forwards;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.15);
}

.review-item--hidden {
    opacity: 0;
    display: none;
    transition: opacity 0.25s display 0.01s 0.3s;
}

.fb-btn {
    $fbcol: #3b5998;
    width: 100%;
    background-color: $fbcol;
    border-radius: 4px;
    text-align: center;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
    &:hover {
        background-color: darken($fbcol, 5);
    }
}

.google-btn {
    $gcol: #f54f43;
    width: 100%;
    background-color: $gcol;
    border-radius: 4px;
    text-align: center;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100%;
    
    &:hover {
        background-color: darken($gcol, 5);
    }
}

.review-opt {
    max-height: 7vh;
}

.review-icon {
    height: 100%;
    width: auto;
}

.review-sep {
    color :gray;
    text-align: center;
}

.brd {
    border: 1px solid green !important;
}


@keyframes fade-in {
    from{
        opacity: 0;
        transform: scale(0.85);
        box-shadow: 0px 2px 100px rgba(0,0,0,0);
    }
    to {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0px 2px 20px rgba(0,0,0,0.15);
    }
}