$opacity: 0.80;

.overlay-component {
    background-color: black;
    z-index: 40;
    transition-duration: 0.35s;
    opacity: 0;
}

.state-true {
    animation: fade-in-2 0.25s forwards;
}
.state-false {
    opacity: 0;
}

@keyframes fade-in-2 {
    from {
        opacity: 0;
    }
    to {
        opacity: $opacity;
    }
}

@keyframes fade-out-2 {
    to {
        opacity: 0;
    }
    from {
        opacity: $opacity;
    }
}